{% block resume %}
  <section id="resume" class="about">
    <div class="about-me container">

      <div class="section-title">
        <h2>Група Queen</h2>
        <p>Деталі про групу</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/queen.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ tag1 }} </h3>
          <p class="fst-italic">
            Моє серце розбивається на частини, мій грим, напевно, вже зіпсований, але я продовжую посміхатися. -Фредді Мерк'юрі
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Queen</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Queen II</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Sheer Heart Attack</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>A Night at the Opera</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Jazz</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>The Game</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Hot Space</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>The Works</strong></li>
              </ul>
            </div>
          </div>
          <p>
            Кожен учасник групи є автором щонайменше одного хіта, що досягав вершини британського чарту. Концертні виступи гурту також були визнані одними з найяскравіших і найзначніших за всю історію року
          </p>
        </div>
      </div>
</div><!-- конец секции -->

{% endblock %}